{% extends 'mailing_list/base.html' %}

{% block content %}
    <br>
    <br>
    <h1>Создание сообщения для рассылки</h1>
    <br>
    <br>
    <div class="card centered">
        <div class="container centered">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_title_message" class="form-label">Тема письма</label>
                    {{ form.title_message }}
                </div>
                <div class="mb-3">
                    <label for="id_body_message" class="form-label">Тело письма</label>
                    {{ form.body_message }}
                </div>
                <button type="submit" href="{% url 'mailing_list:client_list' %}" class="btn btn-primary my-2">
                    Создать
                </button>
            </form>
        </div>
    </div>
{% endblock %}