{% extends 'mailing_list/base.html' %}

{% block content %}
    <br>
    <br>
    <h1>Список сообщений</h1>
    <br>
    <br>
    {% for message in message_list %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3"><h4 class="my-0 fw-normal">{{ message.title_message }}</h4></div>
                <a type="button" href="{% url 'mailing_list:message_detail' message.pk %}"
                   class="w-100 btn btn-lg btn-outline-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

