{% extends 'mailing_list/base.html' %}


{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-10">
        <h4 class="mb-3 text-center">Статистика</h4>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-center h-100 shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-2">Количество рассылок</h6>
                        <h2 class="fw-bold">{{ mailing }}</h2>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center h-100 shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-2">Активные рассылки</h6>
                        <h2 class="fw-bold text-success">{{ mailing_active }}</h2>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center h-100 shadow-sm">
                    <div class="card-body">
                        <h6 class="text-muted mb-2">Клиенты для рассылок</h6>
                        <h2 class="fw-bold text-primary">{{ clients }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}